@media only screen and (max-width: 899px) {

/* Set colour variables */
:root {
    --orange: orange;
    --light-orange: rgba(255, 166, 0, 0.85);
    --grey: #c4bbbc;
    --background-light: rgba(0, 0, 0, 0.5);
}

/* Set background image */
body {
    background-image: url(../images/lisbon.jpeg);
    background-position: center;
    background-repeat: repeat-y;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border-bottom: 3px solid var(--grey);
    align-items: center;
}

/* Left Side of Header - LOGO */ 
#logo {
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
}

#logo img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

#logo h2 {
    visibility: hidden;
}

/* Right Side of Header */

/* MOBILE NAVBAR */
#navBar .menuItem,
#navBar > input {
    display: none;
    visibility: hidden;
}

#navBar > label {
    display: block;
    font-size: 36px;
    color: var(--orange);
    position:fixed;
    right: 20px;
    width: 36px;
    padding: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navBar {
    top: 2%;
    position: fixed;
    left: 85%;
    display: flex;
    flex-direction: column;
}

/* WHEN INPUT IS CHECKED, APPLY THIS */
#navBar > input:checked ~ .menuItem {
    visibility: visible !important; 
    top: 50px;
    display: block;
    clear: both;
    position: relative;
    background-color: var(--light-orange);
    transition: 1s;
}

#navBar > input:checked ~ .menuItem p {
    color: white;
}

input:checked ~ #navBar{
    visibility: visible !important; 
    display: flex;
    flex-direction: column;
}

/* Set padding and margin for each .menuItem */
#navBar .menuItem {
    display: block;
    padding: 12px 8px 12px 8px;
    margin: 0px 20px 0px -30px;
    font-size: medium;
}
 
#navBar a {
    text-decoration: none;
    color: #F6F4F3;
}
  
.navLink {
    font-size: 120%;
    border-bottom: 1px solid transparent;
    text-align: center;
}

.navLink:hover {
    cursor: pointer;
}

.menuItem ul {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    line-height: 30px;
    height: 0px;
    list-style: none;
    overflow: hidden;
    padding: 0px;

    /*Animation*/
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
   -ms-transition: height 1s ease;
       transition: height 1s ease;
}

/* Dropdown effect on hover and click */
.menuItem:hover ul, .menuItem:active ul {
    height: 110px;
    text-align: center;
  }

.menuItem li {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.menuItem a {
    color: white;
    font-size: 120%;
    text-decoration: none;
}

/* CONTENT DIV */
#content {
    padding: 50px;
    background-color: var(--background-light);
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 1em auto 1em auto;
    max-width: 80%;
    text-align: center;
}

#content h1 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 10vw;
    width: 100%;   
    margin-block-start: 0.1em;
    margin-block-end: 0.1em; 
}

#content p {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 4vw;
    width: 100%;
}

#content button {
    background-color: var(--orange);
    border: 12px dotted transparent;
    font-family: 'Nanum Brush Script', cursive;
    padding: 4px;
    font-size: 4vw;
    margin: 20px auto 0px auto;
    border-radius: 45px;
    width: 60%;
}

#content a button {
    text-decoration: none;
    color: black;
}

#content button:hover { 
    border: 10px dashed white;
    cursor: pointer;
}

/* FOOTER */
#footer {
    display: flex;
    margin-bottom: 0px;
    position: fixed;
    height: 5%;
    width: 99%;
    background-color: var(--grey);
    color: black; 
    text-align: center;
    bottom: 0;
    font-size: 20px;
}

#footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    background-color: var(--light-orange);
}

#footer svg {
    margin-left: 7px;
}
}